$hoverColor: #ff324d;

%buttonStyles {
  border: none;
  background: transparent;
  outline: none;
}

.icon_wishlist,
.icon_login {
  font-size: 14px;
  &:hover {
    color: $hoverColor !important;
  }
}
.nav-link.search-trigger {
  @extend %buttonStyles;
}
.links_nav {
  li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    &:hover {
      color: $hoverColor !important;
    }
  }
}
.mobile_device_nav {
  li button {
    @extend %buttonStyles;
  }
}
.mobile_device_nav {
  display: none;
}
